@import "_folder";
@import "_botones";
@import "_secciones";
$backround-sitio: rgb(219, 219, 219);

//esto es la pagina de recetas de tragos//
#seccion-recetas{ 
    background-color: $backround-sitio;
    text-align: center;

        .articulo-cocktail{
            padding-top: 50px;
            .container-receta-img{
                h1{
                    font-size: 35px;
                    color: #333333;
                    margin-bottom: 20px;
                }
                h6{
                    margin-bottom: 0;
                    color: tomato;
                }
                a{
                @extend .boton-ir-a-comprar;
                padding: 2%;
                }
                .contenedor-img-receta{
                    padding: 10%;
                }
            }
            .container-receta-ingredientes{
                margin-bottom: 40px;
                h2{
                color: #fa7d09;
                }
                ul,ol{
                    list-style: none;
                    color: #333333;
                }

            }
            .te-tentaste{
                height: 8rem;
                margin-bottom: 50px;
                .pregunta{
                    p{
                        padding-top: 5%;
                        color: whitesmoke;
                    }
                }
            }
            
        }
    }
